@import '~antd/dist/antd.css';

/* LAYOUT */
.App .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.App .trigger:hover {
    color: #1890ff;
}

.App .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.login-form-wrapper .login-form {
  width: 300px;
}

.login-form-wrapper .login-form-forgot {
  float: right;
}

.login-form-wrapper .login-form-button {
  width: 100%;
}